.material-content {
  padding: 10px;

  background-color: $color-yellow;
  border-radius: 8px;
}

.material-content__title {
  font-size: 24px;
  color: $color-blue;
}

.material-content__paragraph {
  padding-top: 6px;
  padding-bottom: 6px;

  font-size: 20px;
  color: $color-blue;
}

@media screen and (min-width: $size-sm) {
  .material-content {
    padding: 14px;
  }
  
  .material-content__title {
    font-size: 26px;
  }

  .material-content__paragraph {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}